/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 200%;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 125%;
  font-weight: 700;
  margin-left:6%;
}

p {
  font-size: 111%;
  line-height: 1.5em;
  margin: 0;
  font-weight: 650;
  margin-left:6%;
  margin-right:7%
}

main ul li{
  margin-left: 8%;
  margin-right: 8%
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
  display:flex;
  flex-direction:column;
  
}

main img {
  display:flex;
  margin-left:6%;
  margin-bottom:3.8%;
  width: 88%;
}

/* ---  Groups & Items --- */


.group {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.item {
  flex-grow: 1;
  margin: 10px;
  width: 100%;
}

.item-double {
  flex: 2;
}

.menu {
  display: flex;
  flex-direction: column;
}

form .menuItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap: wrap;
}
header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-size: 200%;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap
}

form select, form input {
  margin-bottom: 20px;
  min-width: 50px;
  flex: 1 1 50%;
}

form label {
  font-weight: bold;
  flex: 1 1 40%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 7vw;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  .logo {
    font-size: 5vw;
    align-self: center;
    padding-bottom: 20px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
  }
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 0;
    margin-top: 30px;
  }
  #menu .item {
    margin-right: 10px;
  }
  header nav ul:last-child {
    margin-right: 0;
  }
  header nav ul li a {
    font-size: 2vw;
  }
  form .menuItem {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 15px;
  }
  .menu button {
    width: 15%;
    text-align: center;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 40px 0;
  }

  header {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .group {
    display: flex;
    flex-direction: row;
    margin: 20px;
  }
.item{
  width: 50%;
  align-self: center;
}

  #about img {
    width: 25%;
    margin: 10px;
    height: 25%;
    align-self: center;
  }
  main img{
    width: 100px;
  }
  #about p {
    display: flex;
    align-self: center;
  }

  #ideas img {
    width: 50%;
  }

  #ideas .group {
    justify-content: space-between;
    flex-direction: column;
  }

  #ideas .group .menu {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    flex-wrap: nowrap;
  }

  #ideas .group .menu div img {
    width: 100%;
    max-width: 1200px;
  }

  #host img {
    width: 50%;
    margin: 10px;
    height: 50%;
    align-self: center;
    
  }

  #host .group div {
    align-self: center;
    text-align: left;
    justify-self: center;
  }
  .forest,
  .rustic {
    margin: 0 10px 0 0;
  }
}
