/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 200%;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 125%;
  font-weight: 700;
  margin-left:6%;
}

p {
  font-size: 111%;
  line-height: 1.5em;
  margin: 0;
  font-weight: 650;
  margin-left:6%;
  margin-right:7%
}

main ul li{
  margin-left: 8%;
  margin-right: 8%
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
  display:flex;
  flex-direction:column;
  
}

main img {
  display:flex;
  margin-left:6%;
  margin-bottom:3.8%;
  width: 88%;
}

/* ---  Groups & Items --- */


.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap: wrap;
}
header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-size: 200%;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  min-width:50px
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 7vw;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
 .logo {
    font-size: 72px;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  header nav ul {
    margin: 30px 0 0;
    justify-content: flex-start;
  }

  form {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  form div {
    flex-direction: column;
  }

  form select,
  form input {
  width: 100%
}

  form button {
    font-size: 24px;
    align-self: flex-end;
  }


  .pictures-about{
    display:flex;
    margin-left:0.3%;
    
  }
  .pictures-about p {
    font-size:103%;
    margin-top:2.5%
  }
  .pictures-about img {
    width:24%;
    margin-left:2%
  }

  .pictures-ideas{
    display: flex;
  }
  .pictures-ideas div img{
    max-width:1200px;
  }
  form {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  form div {
    flex-direction: column;
  }

  form input{
    width:75%
  }

  form button {
    font-size: 24px;
    align-self: flex-end;
  }
  #host {
    display:flex;
    flex-direction: row;
  }
  #host img{
    max-width:1200px
  }
}
